@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section id="hero">
        <div class="container">
            <div class="row">
                <div class="col-6 hero-text">
                    <h1>Elegant and creative solutions</h1>
                    <p>We are team of talented designers making websites with Bootstrap</p>
                    <div class="text-button">
                        <button type="button" class="btn btn-hero shadow-lg">Get Started</button>
                        <div class="modal fade" id="exampleModalToggle" aria-hidden="true"
                             aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-body">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/iggmiF7DNoM"
                                            title="YouTube video player" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>

                        <a class="modal-btn" data-bs-toggle="modal" href="#exampleModalToggle" role="button">
                            <i class="fa-solid fa-play"></i> Watch Video

                        </a>
                    </div>
                </div>
                <div class="col-6 hero-img">
                    <img src="/assets/image/hero-img (1).png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section id="featured">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 service">
                    <i class="fa-solid fa-book-open"></i>
                    <h5><a href="">Lorem Ipsum</a></h5>
                    <p>
                        Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                        cupiditate non provident
                    </p>
                </div>
                <div class="col-12 col-md-6 col-lg-4 service">
                    <i class="fa-solid fa-book-open"></i>
                    <h5><a href="">Lorem Ipsum</a></h5>
                    <p>
                        Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                        cupiditate non provident
                    </p>
                </div>
                <div class="col-12 col-md-6 col-lg-4 service service-3">
                    <i class="fa-solid fa-book-open"></i>
                    <h5><a href="">Lorem Ipsum</a></h5>
                    <p>
                        Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                        cupiditate non provident
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-12 service-text">
                    <span>SERVICES</span>
                    <h2>SERVICES</h2>
                    <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
                </div>
                <div class="col-12 service-card">
                    <div class="row">
                        <div class="col-md-12 col-lg-6 col-xl-4 cards">
                            <i class="fa-solid fa-basketball"></i>
                            <h4><a href="#">Lorem Ipsum</a></h4>
                            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-4 cards">
                            <i class="fa-solid fa-basketball"></i>
                            <h4><a href="#">Lorem Ipsum</a></h4>
                            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-4 cards">
                            <i class="fa-solid fa-basketball"></i>
                            <h4><a href="#">Lorem Ipsum</a></h4>
                            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-4 cards">
                            <i class="fa-solid fa-basketball"></i>
                            <h4><a href="#">Lorem Ipsum</a></h4>
                            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-4 cards">
                            <i class="fa-solid fa-basketball"></i>
                            <h4><a href="#">Lorem Ipsum</a></h4>
                            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-4 cards">
                            <i class="fa-solid fa-basketball"></i>
                            <h4><a href="#">Lorem Ipsum</a></h4>
                            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-12 testimonials-text">
                    <span>TESTIMONIALS</span>
                    <h2>TESTIMONIALS</h2>
                    <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
                </div>
                <div class="col-12 testimonials-card">
                    <div class="row">
                        <div class="col-lg-12 col-xl-4">
                            <div class="cards">
                                <p>
                                    Export tempor illum tamen
                                    malis malis eram quae irure esse labore quem cillum quid cillum eram malis
                                    quorum
                                    velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                                </p>
                            </div>
                            <div class="image-text">
                                <img src="~/assets/image/testimonials-1.jpg" alt="">
                                <h6>Nerbala </h6>
                                <span>Kombi ustasi</span>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-4 ">
                            <div class="cards">
                                <p>
                                    Export tempor illum tamen
                                    malis malis eram quae irure esse labore quem cillum quid cillum eram malis
                                    quorum
                                    velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                                </p>
                            </div>
                            <div class="image-text">
                                <img src="~/assets/image/testimonials-1.jpg" alt="">
                                <h6>Nerbala </h6>
                                <span>Kombi ustasi</span>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-4 ">
                            <div class="cards">
                                <p>
                                    Export tempor illum tamen
                                    malis malis eram quae irure esse labore quem cillum quid cillum eram malis
                                    quorum
                                    velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                                </p>
                            </div>
                            <div class="image-text">
                                <img src="~/assets/image/testimonials-1.jpg" alt="">
                                <h6>Nerbala </h6>
                                <span>Kombi ustasi</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="cta">
        <div class="container">
            <div class="row">
                <h3>Call To Action</h3>
                <p>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit anim id est laborum.
                </p>
                <button class="btn">Call To Actions</button>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-12 contact-text">
                    <span>CONTACT</span>
                    <h2>CONTACT</h2>
                    <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
                </div>
                <div class="col-12 contact-form">
                    <div class="row">
                        <div class="col-md-12 col-lg-5 form-left">
                            <div class="icons">
                                <i class="fa-solid fa-location-dot"></i>
                                <div class="icons-text">
                                    <h4>Location:</h4>
                                    <span>A108 Adam Street, New York, NY 535022</span>
                                </div>
                            </div>
                            <div class="icons">
                                <i class="fa-solid fa-location-dot"></i>
                                <div class="icons-text">
                                    <h4>Location:</h4>
                                    <span>A108 Adam Street, New York, NY 535022</span>
                                </div>
                            </div>
                            <div class="icons">
                                <i class="fa-solid fa-location-dot"></i>
                                <div class="icons-text">
                                    <h4>Location:</h4>
                                    <span>A108 Adam Street, New York, NY 535022</span>
                                </div>
                            </div>
                            <div class="map">
                                <iframe src="https://maps.google.com/maps?q=chicago&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                        frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-7 form-right">
                            <form>
                                <!-- 2 column grid layout with text inputs for the first and last names -->
                                <div class="row ">
                                    <div class="col-md-12 col-lg-6 mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" for="form6Example1">First name</label>
                                            <input type="text" id="form6Example1" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-6 mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" for="form6Example2">Last name</label>
                                            <input type="text" id="form6Example2" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                                <!-- Text input -->
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form6Example3">Company name</label>
                                    <input type="text" id="form6Example3" class="form-control" />
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form6Example7">Message </label>
                                    <textarea class="form-control" id="form6Example7" rows="10"></textarea>
                                </div>
                                <!-- Checkbox -->
                                <!-- Submit button -->
                                <div class="form-btn">
                                    <button type="submit" class="btn  mb-4">Send message</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>